# ---------- General ----------
ENV=development

# ---------- Postgres ----------
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ops_copilot_dev
POSTGRES_PORT=5432

# ---------- Backend Security ----------
SECRET_KEY=changeme

# ---------- Frontend / NextAuth ----------
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=dev-super-secret-change-me

# ---------- API URLs ----------
# Cliente (browser) llama a localhost
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1

# SSR (desde contenedor frontend) llama por el nombre del servicio Docker
INTERNAL_API_URL=http://api:8000/api/v1
